<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <!--<add key="EDIFilesLocation" value="C:\Users\kgobe_000\SkyDrive\UPSFeeds"/>-->
    <add key="DropCreateEditedTables" value="true"/>
  </appSettings>
<connectionStrings>
  <!--<add name="databaseConnection" connectionString="Data Source=KYLE;Initial Catalog=DeersoTestDb;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"/>-->
  
</connectionStrings>
</configuration>